 .pag-container{
    // display: flex ;
    // justify-content: flex-end ;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disable{
    pointer-events: none;
}
.disable .page-link{    
    color: rgb(201, 201, 201) !important;
}
